fastapi
uvicorn[standard]
SQLAlchemy
pydantic
httpx
python-dotenv
python-multipart
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1

xgboost
pandas
numpy
scikit-learn
requests
dnspython
beautifulsoup4

